DESCRIPTION
# IPL Winners Data Scraping

This project extracts IPL winners data from Wikipedia using Python, Requests, and BeautifulSoup.  
The table is parsed using BeautifulSoup, then converted into a structured pandas DataFrame.  
Finally, the cleaned data is exported as a CSV file for further analysis.

In [23]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://en.wikipedia.org/wiki/Indian_Premier_League"

headers = {
    "User-Agent": "Mozilla/5.0"
}

response = requests.get(url, headers=headers)
print(response.status_code)

soup = BeautifulSoup(response.text, "html.parser")

table = soup.find("table", class_="wikitable")
rows = table.find_all("tr")

data = []
for row in rows[1:]:
    cols = row.find_all("td")
    cols = [c.text.strip() for c in cols]
    if cols:
        data.append(cols)

df = pd.DataFrame(data)
df.head()

200

      0                        1
0  2008         Rajasthan Royals
1  2009          Deccan Chargers
2  2010      Chennai Super Kings
3  2011  Chennai Super Kings (2)
4  2012    Kolkata Knight Riders

## Data Cleaning Steps

1. Removed extra spaces from text.
2. Converted table columns into a clean pandas DataFrame.
3. Renamed columns to 'Year' and 'Winner'.
4. Exported the final dataset into a CSV file named 'ipl_winners.csv'.

In [26]:
df.columns=["year","Winner"]
df.head()

   year                   Winner
0  2008         Rajasthan Royals
1  2009          Deccan Chargers
2  2010      Chennai Super Kings
3  2011  Chennai Super Kings (2)
4  2012    Kolkata Knight Riders

In [27]:
df.to_csv("ipl_winners.csv",index=False)

## Conclusion

This IPL winner dataset was successfully scraped from Wikipedia and cleaned using Python.  
The project demonstrates practical skills in web scraping, data cleaning, and working with pandas DataFrames.  
The final CSV file can be used for further analysis or visualization.